RESEND_API_KEY=re_xxxxxxxxx
MAIL_FROM=HAN Dienstleister <no-reply@han-dienstleister.de>
ADMIN_EMAIL=info@han-dienstleister.de
SUPER_ADMIN_EMAIL=admin@han-dienstleister.de
PUBLIC_DOMAIN=https://han-dienstleister.de
COMPANY_ID=han-dienstleister
